/*Base*/
body{
	background-color:#333333;
	color:white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/*Range Graph*/
.rangeCell{
	height:20px;
	float:left;	
}
.mainSizeDiv{
	text-align:center;
}
.scaleSection{
	float:left;
	text-align:center;
}

/*Search */
.inputContainer{
	margin: 5px 10px;
	float:left;
	width:auto;
	height:40px;
}
.inputContainer label{
	display:block;
}

/*Table*/
td{
	width:auto;
	white-space:nowrap;
	padding:5px;
}
tr.even{
	background-color:#2e2e2e;
	
}
tr.odd{
	
}
th{
	width:auto;
	padding:0px 10px;
	white-space: nowrap;
}
th.rangeHeader{
	white-space: normal;
}