/*Base*/
body{
	background-color:#333333;
	color:white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
a{
	color:inherit;
	text-decoration: none;
}
a:active{
	color:inherit;
	text-decoration: none;
}
a:visited{
	color:inherit;
	text-decoration: none;
}
a:hover{
	color:#D3D3D3;
	text-decoration: none;
}

/*Footer*/
#footer{
	float: left;
	display: block;
	width: 100%;
}

/*Range Graph*/
.rangeCell{
	height:20px;
	float:left;	
}
.mainSizeDiv{
	text-align:center;
}
.mainSizeDiv span{
	
}
.scaleSection{
	float:left;
	text-align:center;
}
.ui-tooltip {
    padding: 5px 10px;
    color: #333333;
    border-radius: 5px;
    font: bold 16px  Arial, 'Helvetica Neue', Helvetica, sans-serif;
    box-shadow: 0 0 7px black;
}

/*Search */
.inputContainer{
	padding: 5px;
	margin:10px;
	float:left;
	width:auto;
	height:45px;
	background-color:#474747;
	border-color:#474747;
	border-style:solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.inputContainer label{
	display:block;
	width:auto;
	margin-bottom:5px;
}

.inputContainer select,input{
	width:auto;	
}
#showExtraData{
	font-size:20px;
	text-align:center;
}

/*Table*/
td{
	width:auto;
	white-space:nowrap;
	padding:5px;
}
tr.even{
	background-color:#2e2e2e;
	
}
tr.odd{
	
}
th{
	width:auto;
	padding:0px 10px;
	white-space: nowrap;
}
th.rangeHeader{
	white-space: normal;
}

