.rangeCell{
	height:20px;
	float:left;	
}
.mainSizeDiv{
	text-align:center;
}
.scaleSection{
	width:10%;
	float:left;
	text-align:center;
}
.inputContainer{
	margin: 5px 10px;
	float:left;
	width:auto;
	height:40px;
}
.inputContainer label{
	display:block;
}